{% extends "layout.html" %}

{% block page_title %}
Dashboard - Apply for probate
{% endblock %}

{% block content %}


<main id="content" role="main">
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/tasklist" rel="external noopener">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Journey options</h1>

            <a href="/screening-questions/death-certificate">Sign in after screeners complete</a>
            <p> As a user with an HMCTS account, I want to make a second application for probate, so I follow the link to 'apply for probate online' and answer the eligibility 'screening' questions and then arrive at the IDAM page, where I enter my HMCTS username and password.</p>

            <!-- <p> When applying for probate for a second time, assuming users will run through screeners from probate start page and then sign in once thorugh screener questions --> 

          

            <a href="login-bookmarked">Bookmarked / Sign in before screeners</a>

            <p> As a user with an HMCTS account, I want to make a second application for probate, so I sign into my HMCTS account using a bookmarked link and get taken to the 'probate dashboard' page. </p> 
            <!-- <p>I follow the link to 'start a new application'. </p> 
            <p>When I have answered the eligibility 'screening' questions I go straight to the tasklist to continue with my application.</p> --> 

            <a href="login-bookmarked2">Continue an application</a>

            <p> As a user with an HMCTS account, I want to complete my application for probate, so I sign in using my HMCTS username and password.</p> 

            <a href="multiple-applications-dashboard">Dashboard view</a>


            <p> As a user with an HMCTS account, I have signed in with  my username and password and arrive at the 'probate dashboard' page.</p>



            <div class="form-group">

            </div>
        </div>
    </div>

</main>
{% endblock %}
