{% extends "layout.html" %}

{% block page_title %}
Dashboard - Apply for probate
{% endblock %}

{% block content %}


<main id="content" role="main">
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/tasklist" rel="external noopener">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Journey options</h1>

            <a href="/screening-questions/death-certificate">Sign in after screeners</a>

            <br>
            <br>

            <a href="login-bookmarked">Bookmarked / Sign in before screeners</a>

            <br>
            <br>

            <a href="login-bookmarked2">Continue an application</a>

            <br>
            <br>

            <a href="multiple-applications-dashboard">Dashboard view</a>






            <div class="form-group">

            </div>
        </div>
    </div>

</main>
{% endblock %}
