{% extends "question_no_sign_out.html" %}

{% set question = "Have all the executors died or chosen not to apply?" %}

{% block question %}
{{ question }}
{% endblock %}



{% block form %}
<p>Executors who choose not to apply for probate give up their right to do so, now and in the future. </p>

<p> You’ll get a form which they need to complete as part of this application. </p>

<!-- <p>If there is another reason that an executor can’t apply, for example they are not capable of making their own decisions, you need to <a href="">continue your application by post</a>. </p> -->
<div class="form-group">
  <fieldset class="inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="executorNotApplyingYes" type="radio" name="executorNotApplying" value="Yes" {{ data['executorNotApplying'] | checkedIf('Yes') }}>
      <label for="executorNotApplyingYes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="executorNotApplyingNo" type="radio" name="executorNotApplying" value="No" {{ data['executorNotApplying'] | checkedIf('No') }}>
      <label for="executorNotApplyingNo">No</label>
    </div>
  </fieldset>
</div>

{% endblock %}
