{% extends "question_no_sign_out.html" %}

{% set question = "Are you named in the will as someone who will receive what’s left of the estate when it is distributed?" %}

{% block question %}
{{ question }}
{% endblock %}



{% block form %}
<p>You could be a beneficiary who will get everything left by the person who died, not including items or gifts for specific people. </p>

<p>Some wills describe this as a ‘residuary legatee or devisee’ or someone who will receive the ‘residue of the estate’. </p>

<p>You could also be someone named to hold the estate ‘in trust’.</p>
<div class="form-group">
  <fieldset class="inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="namedBeneficiaryYes" type="radio" name="namedBeneficiary" value="Yes" {{ data['namedBeneficiary'] | checkedIf('Yes') }}>
      <label for="namedBeneficiaryYes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="namedBeneficiaryNo" type="radio" name="namedBeneficiary" value="No" {{ data['namedBeneficiary'] | checkedIf('No') }}>
      <label for="namedBeneficiaryNo">No</label>
    </div>
  </fieldset>
</div>

{% endblock %}
