{% extends "question_no_sign_out.html" %}

{% set question = "Is everyone who is entitled to apply over 18?" %}

{% block question %}
{{ question }}
{% endblock %}



{% block form %}
<p>You may not be the only person entitled to apply for probate. There may be another person who is named as someone who will receive the ‘residue’ of the estate.</p>

<P>If there is another person under 18 who is entitled to apply, you will need to continue your application by post.</p> 

<div class="form-group">
  <fieldset class="inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="namedBeneficiaryAgeYes" type="radio" name="namedBeneficiaryAge" value="Yes" {{ data['namedBeneficiaryAge'] | checkedIf('Yes') }}>
      <label for="namedBeneficiaryAgeYes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="namedBeneficiaryAgeNo" type="radio" name="namedBeneficiaryAge" value="No" {{ data['namedBeneficiaryAge'] | checkedIf('No') }}>
      <label for="namedBeneficiaryAgeNo">No</label>
    </div>
  </fieldset>
</div>

{% endblock %}
