{% extends "question_no_sign_out.html" %}

{% set question = "Have all the executors died or chosen not to apply?" %}

{% block question %}
{{ question }}
{% endblock %}



{% block form %}
<p>If an executor has chosen not to apply now or in the future, this is known as 'renouncing'. You'll need to give more information about renouncing executors as part of your application.</p> 

<p>If there is another reason that an executor can’t apply, for example they are not capable of making their own decisions, you need to <a href="">continue your application on paper </a>. </p>
<div class="form-group">
  <fieldset class="inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="executorNotApplyingYes" type="radio" name="executorNotApplying" value="Yes" {{ data['executorNotApplying'] | checkedIf('Yes') }}>
      <label for="executorNotApplyingYes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="executorNotApplyingNo" type="radio" name="executorNotApplying" value="No" {{ data['executorNotApplying'] | checkedIf('No') }}>
      <label for="executorNotApplyingNo">No</label>
    </div>
  </fieldset>
</div>

{% endblock %}
