{% extends "question_no_sign_out.html" %}

{% set question = "Have any of the beneficiaries been left something that can only be used during their lifetime?" %}

{% block question %}
{{ question }}
{% endblock %}



{% block form %}
<p>This is sometimes known as having a ‘life interest’. </p>

<p>For example, you may have a life interest in a house that you can live in for the rest of your life, but you would not be able to leave it to someone else.</p> 
<div class="form-group">
  <fieldset class="inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="lifeInterestYes" type="radio" name="lifeInterest" value="Yes" {{ data['lifeInterest'] | checkedIf('Yes') }}>
      <label for="lifeInterestYes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="lifeInterestNo" type="radio" name="lifeInterest" value="No" {{ data['lifeInterest'] | checkedIf('No') }}>
      <label for="lifeInterestNo">No</label>
    </div>
  </fieldset>
</div>

{% endblock %}
