{% extends "question-account.html" %}

{% set question = "Why are the executors not applying?" %}

{% block question %}
{{ question }}
{% endblock %}



{% block form %}
<!-- <p>To continue with your application online, all the executors must have either given up their right to apply now or in the future (known as ‘renouncing’)
or died.</p>


<p>If there is another reason that an executor can’t apply, for example they are not capable of making their own decisions, you need to <a href="">continue your application on paper</a>. </p> -->
<div class="form-group">
  <fieldset class="inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="executorNotApplyingYes" type="radio" name="executorNotApplying" value="Yes" {{ data['executorNotApplying'] | checkedIf('Yes') }}>
      <label for="executorNotApplyingYes">The executors have given up their right to apply (known as ‘renouncing’) or died</label>
    </div>
    <div class="multiple-choice">
      <input id="executorNotApplyingNo" type="radio" name="executorNotApplying" value="No" {{ data['executorNotApplying'] | checkedIf('No') }}>
      <label for="executorNotApplyingNo">There's another reason the executors can't apply</label>
    </div>
  </fieldset>
</div>

{% endblock %}
