{% extends "question-account.html" %}

{% set question = "Are all the beneficiaries named in the will over 18?" %}

{% block question %}
{{ question }}
{% endblock %}



{% block form %}
<!-- <p>If any of the beneficiaries are under 18, they will need to be represented by someone applying on their behalf. </p> -->

<div class="form-group">
  <fieldset class="inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="namedBeneficiaryAgeYes" type="radio" name="namedBeneficiaryAge" value="Yes" {{ data['namedBeneficiaryAge'] | checkedIf('Yes') }}>
      <label for="namedBeneficiaryAgeYes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="namedBeneficiaryAgeNo" type="radio" name="namedBeneficiaryAge" value="No" {{ data['namedBeneficiaryAge'] | checkedIf('No') }}>
      <label for="namedBeneficiaryAgeNo">No</label>
    </div>
  </fieldset>
</div>

{% endblock %}
