{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="phase-banner-beta">
        <p><strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/summary/*">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <h1 class="heading-large">Check your answers</h1>
    <p class="text">Check the information below carefully. </p>
    <p class="text">This will form a record of your application for probate. It will also be
        stored as a public record that will be available online.</p>

    <table class="check-your-answers form-group">
        <tbody>
        <!-- screening questions -->
        <tr>
            <td colspan="3"><span class="heading-medium">The executors</span></td>
        </tr>

        <tr>
            <td colspan="2">
                <div class="grid-row">
                    <div class="column-one-half check-your-answers__question">Number of executors named on the will</div>
                    <div class="column-one-half">    {{ data['numberOfExecutors'] if data['numberOfExecutors'] else '[numberOfExecutors]' }}</div>
                </div>
            </td>
            <td class="change-answer">
                <a href="{{ '/screening-questions/will-left' | redirectUrl('/screening-questions/will-left', '/summary/the-executors')}}">
                    Change<span class="visuallyhidden">whether a will was left</span></a>
            </td>
        </tr>


        {% for i in range(0, data['numberOfExecutors']) %}
            {% if (data | executorApplyingForProbate(i)) %}
                <tr>
                    <td colspan="2">
                        <div class="grid-row">
                            <div class="column-one-half check-your-answers__question">Name of executor</div>
                            <div class="column-one-half">
                                {{ data.executors['executor' + i].name }}
                            </div>
                        </div>
                    </td>
                    <td class="change-answer">
                        <a href="{{ '/the-executors/names' | redirectUrl('/tasklist/review-and-confirm', '/summary/the-executors')}}">
                            Change<span class="visuallyhidden">executors</span></a>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div class="grid-row">
                            <div class="column-one-half check-your-answers__question">Why isn't {{ data.executors['executor' + i].name }} applying?</div>
                            <div class="column-one-half">
                                {{ data.executors['executor' + i].executorNotApplying }}
                            </div>
                        </div>
                    </td>
                    <td class="change-answer">
                        <a href="{{ '/the-executors/why-not-applying' | redirectUrl('/tasklist/review-and-confirm', '/summary/the-executors')}}">
                            Change<span class="visuallyhidden">executors</span></a>
                    </td>
                </tr>



                <tr>
                    <td colspan="2">
                        <div class="grid-row">
                            <div class="column-one-half check-your-answers__question">Did   {{ data.executors['executor' + i].name }} die before {{ data['deceasedFirstName'] if data['deceasedFirstName'] else '[deceasedFirstName]' }} {{ data['deceasedLastName'] if data['deceasedLastName'] else '[deceasedLastName]' }}</div>
                            <div class="column-one-half">
                                {{ data.executors['executor' + i].executorDiedBefore }}
                            </div>
                        </div>
                    </td>
                    <td class="change-answer">
                        <a href="{{ '/the-executors/date-of-death' | redirectUrl('/tasklist/review-and-confirm', '/summary/the-executors')}}">
                            Change<span class="visuallyhidden">executors</span></a>
                    </td>
                </tr>
                {% if (data['executorNotApplying'] === 'Dead') %}
                {% endif %}


            {% endif %}
        {% endfor %}



        </tbody>
    </table>


    <div class="form-group">
        <p><a href="/tasklist/about-the-applicant" class="button" role="button">Save and continue</a></p>
    </div>
</main>
{% endblock %}
