{% extends "question.html" %}

{% set question = "How many executors are named on the will and any updates ('codicils')?" %}

{% block question %}
{{ question }}
{% endblock %}

{% block form %}

<!-- <p class="text">Include people named on any updates (codicils) to the will.</p> --> 
<p class="text">The total number must include anyone who:</p>

<ul class="list list-bullet">

    <li>is a current executor, even if they aren’t applying for probate</li>
    <li>was meant to be an executor but can’t be one (for example, if they’ve died) </li>
    <li>has been named as a 'substitute' executor</li>
</ul> 

<!-- <h2 class="heading-medium">Who to include</h2>

<p>If an executor has replaced another executor (for example, the first named executor has died and the will names somebody to replace them), both the first and the second person have been active executors. So you must include both these people in your total.
</p> -->


<!--<div class="panel panel-border-wide"> 
<p class="text">
    Include anyone who is named as a 'substitute' executor.
</p>
</div> -->



<div class="form-group">
    <fieldset class="form-group">

        <legend>
        </legend>

        <label class="form-label-bold" for="numberOfExecutors">
            Total number of executors
        </label>
        <input class="form-control" id="numberOfExecutors" type="number" name="numberOfExecutors" style="width:4em;" value="{{data['numberOfExecutors']}}">

    </fieldset>

</div>

<!-- logic  -->
<!--         <div class="form-group">
          <fieldset class="form-group">

            <legend>
            </legend>

             <label class="form-label-bold" for="numberOfExecutors">
                 Number of executors
             </label>
             <input class="form-control" id="numberOfExecutors" type="number" name="numberOfExecutors" style="width:4em;" value="{{ session.executors.numberOfExecutors }}">

          </fieldset>

        </div> -->
{% endblock %}
