{% extends "question.html" %}

{% set question = "What are the executors&rsquo; names?" %}

{% block question %}
    {{ question | safe }}
{% endblock %}

{% block form %}
<div class="form-group">
    <p>Enter the executor&rsquo;s names exactly as they appear on the will. Include solicitors if they&rsquo;re named as executors.</p>
    <fieldset>
        <legend>
            <h1 class="heading-large hidden">What are the names of all the executors?</h1>
        </legend>

        {% for i in range(0, data['numberOfExecutors']) %}
            <div class="form-group">
                <label class="form-label-bold" for="executorName{{ i }}">Executor {{ i + 1}}</label>
                <input class="form-control" id="executorName{{ i }}" name="executorName{{ i }}" value="{{ data['executors']['executor' + i].name }}">
            </div>
        {% endfor %}
    </fieldset>

</div>
<p><a href="how-many">Change number of executors</a></p>
{% endblock %}
